django
psycopg[binary] #PSQL driver
celery
celery[redis]  # Broker
django-celery-beat  # Scheduled tasks
requests  # Extract data from web
pandas  # Data manipulation
openpyxl  # Excel file handling
django-pwa  # Progressive Web App
djangorestframework #API
